@import '../../styles/variables';

// ====================================================================
// Sidebar Styling
// ====================================================================

.sidebarContainer {
	display: flex;
	padding: 0 $padding-double;

	background: $color-white;
}

.sidebar {
	display: flex;
	align-items: center;
	margin-left: auto;
}

.logo {
	display: flex;
	align-items: center;

	max-width: 300px;

	img {
		height: 48px;
		width: auto;
	}
}

.navLink {
	display: flex;
	font-weight: 700;
	text-transform: uppercase;

	margin: $padding-half 0;

	a {
		position: relative;
		display: flex;
		justify-content: center;

		text-decoration: none;

		padding: $padding-half;
		margin: 0 $padding-half;

		color: $color-black;

		&:after {
			position: absolute;
			content: '';

			bottom: 0;

			height: 3px;
			border-radius: 3px;
			background: transparent;

			width: 20px;
			transition: all 0.17s ease-in-out;
		}

		&:hover {
			color: $color-blue;

			&:after {
				width: 80%;
				background: $color-gold;
			}
		}
	}

	:global {
		a.active  {
			&:after {
				background: $color-black;
			}

			&:hover {
				&:after {
					background: $color-gold;
				}
			}
		}
	}
}
