#globalHeader {
	width: 100%;
	background: #fff;
	
	padding-top: $padding-half;
}

.globalHeaderContainer {
	flex-direction: column;
}

.navigationMenu {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	
	margin-top: $padding-half;
}

.navLink {
	border-bottom: 3px solid #ccc;

	a {
		color: #aaa;
		&:visited {
			color: #aaa;
		}
	}

	&.active {
		a {
			color: #444;
		}
		border-bottom: 3px solid #444;
	}

	padding: 8px 5px;

	text-transform: uppercase;
}

.logoContainer {
	display: flex;
	align-items: center;
	
	margin: $padding-half auto;
	
	width: 48px;
	height: 48px;
	
	border-radius: 100%;
	overflow: hidden;
	
	border: 2px solid $color-blue;

	position: relative;
	
	img {
		width: 100%;
	}
}


/* Extra small devices (phones, up to 480px) */
@media screen and (max-width: 479px) {
}

/* Extra small devices (phones, up to 480px) */
@media (min-width: 480px) and (max-width: 767px) {
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991px) {
}
