@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400|Roboto:300,400');
@import url('https://fonts.googleapis.com/css?family=Alegreya:400,700|Lato:300,400,700');

@import './variables';

html {
	// font-family: 'Roboto', 'Helvetica', sans-serif;
	font-family: 'Lato', 'Helvetica', sans-serif;
	font-weight: 300;
	text-rendering: optimizeLegibility;
	color: $color-black;
}

p {
	font-size: 16px;
}

a {
	transition: all 0.17s ease-in-out;
}

h1, h3, h4, h5 {
	text-transform: uppercase;
	font-family: 'Alegreya', 'Helvetica', sans-serif;
}

h5 {
	font-size: 12px;
}

h4 {
	font-size: 16px;
}

h3 {
	font-size: 18px;
}

h1 {
	font-size: 32px;
}
