// ====================================================================
// Variables - Colors
// ====================================================================

$color-blue: 				    #0054a2;	// Westside Blue
$color-gold:						#fbe81c;	// Westside Gold
$color-dark-blue:				#10284c;	// Metallion
$color-black:						#0F0B01; 	// Inkling
$color-white:						#ffffff;	// White

// ====================================================================
// Variables - Spacing and Layout
// ====================================================================

$padding-small:           4px;
$padding-half:            8px;
$padding-general:         16px;
$padding-large:           24px;
$padding-double:          32px;
