// ====================================================================
// Variables - Colors
// ====================================================================

$color-blue: 				    #0054a2;	// Westside Blue
$color-gold:						#fbe81c;	// Westside Gold
$color-dark-blue:				#10284c;	// Metallion
$color-black:						#0F0B01; 	// Inkling
$color-white:						#fafafa;	// White
$color-grey:						#f0f0f0;

// ====================================================================
// Variables - Spacing and Layout
// ====================================================================

$padding-small:           5px;
$padding-half:            10px;
$padding-general:         20px;
$padding-large:           30px;
$padding-double:          40px;
